@charset "utf-8";

@font-face {
    font-family: 'Cafe24Ssurround';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local("Cafe24Ssurround"), url("Cafe24Ssurround-v2.0.woff2") format("woff2"), url("Cafe24Ssurround-v2.0.woff") format("woff"), url("Cafe24Ssurround-v2.0.ttf") format("truetype"), url("Cafe24Ssurround-v2.0.otf") format("opentype");
}
